{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "arrowParams": "always",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.js",
      "options": { "parser": "babylon" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
